<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
	  <AppContextSwitchOverrides value="Switch.System.Windows.Forms.UseLegacyAccessibilityFeatures=true;
    Switch.System.Windows.Forms.UseLegacyAccessibilityFeatures.2=true;
    Switch.System.Windows.Forms.UseLegacyAccessibilityFeatures.3=true" />
  </runtime>
</configuration>